.list {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
}

.item {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    
}

.image {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.overlayItemTitle {
    position: absolute;
    width:100%;
    bottom: 10px;
    left: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.count {
    font-weight: 500;
    font-size: 20px;
}