.homeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 30px;
}

.section {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 255, 250);
}