.navbar {
    height: 50px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

.navbarContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logoContainer {
    display: flex;
    align-items:first baseline;
    gap: 10px;
    cursor: pointer;
}

.logo {
    font-weight: bold;
}

.navButton{
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: var(--primary);
    font-weight: 500;
}
